@model Test

@{ 
    ViewData["Title"] = Model.Name;
}

<h1>Тест: @Model.Name</h1>
<div>
    <h3>Описание:</h3>
    <p>@Model.Description</p>
</div>

<div>
    <p><b>Категории:</b>
        @foreach (var category in Model.Categories) { 
            <a asp-controller="Categories" asp-action="Detail" asp-route-id="@category.Id" style="margin-right:5px">
                @category.Name
            </a> 
         }
    </p>
</div>
<div>
   <b>Время на прохождение:</b> @Model.Time мин.
</div>
<div>
    <a class="button" asp-action="Update" asp-controller="Tests" asp-route-id="@Model.Id">Редатировать тест</a>
</div>
<form method="post" class="mt-4" asp-action="Solve" asp-controller="Tests" asp-route-id="@Model.Id">
    <input type="submit" value="Начать тест!" />
</form>
