@model Test
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    ViewData["Title"] = Model.Name;
}

<h1>Тест: @Model.Name</h1>
<div>
    <h3>Описание:</h3>
    <p>@Model.Description</p>
</div>

<div>
    <p>
        <b>Категории:</b>
        @foreach (var category in Model.Categories)
        {
            <a asp-controller="Categories" asp-action="Detail" asp-route-id="@category.Id" style="margin-right:5px">
                @category.Name
            </a>
        }
    </p>
</div>
<div>
    <b>Время на прохождение:</b> @Model.Time мин.
</div>
<div>
    <a class="button" asp-action="Update" asp-controller="Tests" asp-route-id="@Model.Id">Редактировать тест</a>
</div>
<form method="post" class="mt-4" asp-action="Solve" asp-controller="Tests" asp-route-id="@Model.Id">
    <input type="submit" value="Начать тест!" />
</form>

<h2>Обсуждение теста:</h2>

@if (signInManager.IsSignedIn(User))
{
    <form>
        <input type="hidden" asp-for="@Model.Id" class="form-control" id="articleId" />
        <div class="form-group">
            <textarea class="form-control"  rows="12" id="content"></textarea>
        </div>
        <br />
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Отправить" id="send" />
        </div>
    </form>
}


<br />
<div id="comments">
    @if (ViewBag.Comments != null)
    {
        @foreach (Comment comment in ViewBag.Comments)
        {
            <div class="box">
                <a href=""><h4>@comment.User.UserName</h4></a>
                <p>@comment.Content</p>
                <p class="date-output">@comment.PostedDate</p>
            </div>
        }
    }
</div>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/sendComments.js"></script>


