@model TestResultViewModel
@{
    ViewData["Title"] = "Результаты";
}

@if(Model.IsTimeout)
{
    <h1 style="color: red;">Время вышло. Результат аннулирован.</h1>
}


<h1>Результат по тесту #@Model.Test.Id</h1>
<p><b>Название: </b> @Model.Test.Name</p>
<p><b>Результат: </b> @Model.RightAnswers / @Model.Answers</p>
<p><b>Начат: </b> <span class="date-output">@Model.Started</span></p>
<p><b>Окончен: </b> <span class="date-output">@Model.Finished</span></p>

<a class="button primary" asp-action="Index" asp-controller="Tests">Ок</a>

