@model TestViewModel

@{
    ViewData["Title"] = "Тест запущен!";
}

<h1>Тест @Model.Name</h1>

<form method="post" asp-controller="Tests" asp-action="Check">
    <div asp-validation-summary="ModelOnly"></div>
    @foreach (var (question, index) in Model.Questions.Select((item, index) => (item, index)))
    {
        <p><b>@(index+1). @question.Name</b></p>
        @foreach (var (answer, answerIndex) in question.Answers.Select((item, index) => (item, index)))
        {
            <div>
                <input type="radio" id="@(question.Id)@(answer.Id)" name="UsersAnswers[@question.Id]" value="@answer.Id">
                <label for="@(question.Id)@(answer.Id)">@answer.Name</label>
            </div>
        }
    }
    <button type="submit" asp-action="Result" asp-controller="Tests" asp-route-id="@Model.Id">Отправить</button>
</form>