@model TestViewModel

@{
    ViewData["Title"] = "Тест запущен!";
}

<h1>Тест @Model.Name</h1>

<form id="form1" method="post" asp-controller="Tests" asp-action="Result">
    <div asp-validation-summary="ModelOnly"></div>
    <p><b>Тест начал: </b><span class="date-output">@Model.Started</span></p>
    @foreach (var (question, index) in Model.Questions.Select((item, index) => (item, index)))
    {
        <p><b>@(index+1). @question.Name</b></p>
        @foreach (var (answer, answerIndex) in question.Answers.Select((item, index) => (item, index)))
        {
            <div>
                <input type="radio" id="@(question.Id)@(answer.Id)" name="UsersAnswers[@question.Id]" value="@answer.Id">
                <label for="@(question.Id)@(answer.Id)">@answer.Name</label>
            </div>
        }
    }
    <input value="@Model.ResultId" name="ResultId" hidden />
    <button type="submit" asp-controller="Tests" asp-action="Result" asp-route-id="@Model.Id" asp-route-resultId="@Model.ResultId">Отправить</button>
</form>

<script type="text/javascript">
    setTimeout(function () {
        window.location.href = '/Tests/TimeOut/' + @Model.Id.ToString() + "?resultId=" + @Model.ResultId.ToString();
    }, @Model.Time * 60000);
</script>
