@model TestViewModel
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Изменить тест";
}

<h1>Изменить тест</h1>
<form asp-antiforgery="true" asp-controller="Tests" asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" style="color: red;"></div>
    <div>
        <input asp-for="Name" placeholder="Название теста" value=@Model.Name />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <textarea asp-for="Description" placeholder="Описание теста">@Model.Description</textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <input type="number" asp-for="Time" placeholder="Время(в мин)" value=@Model.Time />
        <span asp-validation-for="Time"></span>
    </div>
    <div>
        <h3>Список вопросов:</h3>
        @if (Model.Questions == null)
        {
            <p>Тест пока без вопросов.</p>
        }
        else
        {
            <table cellspacing="1" cellpadding="4">
                @foreach (var question in Model.Questions)
                {
                    <tr>
                        <td align="left">@question.Name</td>
                        <td align="left"><a class="small button" asp-action="Update" asp-controller="Questions" asp-route-id="@question.Id">Редактировать</a></td>
                        <td align="right">
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Questions" asp-route-id="@question.Id">
                                Удалить
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        <a class="button" asp-action="Create" asp-controller="Questions" asp-route-testId="@Model.Id">Добавить вопрос</a>
    </div>
    <div>
        <input type="submit" value="Сохранить и выйти" class="button primary" @*asp-route-id="@Model.Id"*@ />
    </div>
</form>
<a asp-action="Index" asp-controller="Tests" class="button">Выйти</a>

